.block {
   display: flex;
   
}

img {
   border-radius: 3px;
   box-shadow: 0 5px 15px rgba(0,0,0,0.4);
   
}

.show .card {
   background-color:rgba(230, 194, 241, 0.226);
}

ul {
   background-color: rgba(230, 194, 241, 0.103);
}