.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.link-to-text-color {
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-decoration: none;
  font-family: 'Abel', sans-serif;

}

.link-to-text-color:hover {
  color: #38413A;
  text-decoration: none;
  font-size: 22px;
  transition: 0.5s;
}
