.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover .fa-instagram {
  color: #E1306C;
}

.footer-links a:hover .fa-facebook {
  color: #4267B2;
}

.footer-links a:hover .fa-twitter {
  color: #1DA1F2;
}

.footer-links a:hover .fa-youtube {
  color: #FF0000;
}

.footer .fa-car-side {
  color: #390446;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
