.navbar-kar {
  justify-content: space-between;
  background: white;

}

.navbar-kar .fa-car-side {
  color: #390446;
  font-size: 50px
}


.navbar-kar .navbar-collapse {
  flex-grow: 0;
}

.navbar-kar .navbar-brand img {
  width: 30px;
}
