.navbar-kar {
  justify-content: space-between;
  background: white;
}

.navbar-kar .fa-car-side {
  color: #390446;
  font-size: 50px
}

.navbar-kar .fa-car-side:hover {
  color: #390446a8;
  transition: 0.2s;
}

.heading {
  font-size: 45px;
  margin-left: 90px;
}

.heading:hover {
  color: #390446a8;
}

.navbar-kar .navbar-collapse {
  flex-grow: 0;
}

.navbar-kar .navbar-brand img {
  width: 30px;
}

.navbar {
  height: 80px;
}

.navbar .btn {
  margin: 0, 8px, 0, 10px;
}

.dropdown-toggle {
  margin-left: 10px;
}

