.navbar-kar {
  justify-content: space-between;
  background: white;
  height: 100px;
}

.navbar-kar .fa-car-side {
  color: #390446;
  font-size: 50px
}

.navbar-kar .btn-flat{
  margin: 0 auto;
  height: 70px;
}

.btn-flat {
  color: white;
  text-align: center;
  line-height: 55px;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}
.navbar-kar .navbar-collapse {
  flex-grow: 0;
}

.navbar-kar .navbar-brand img {
  width: 30px;
}
